Assignment description:
Write a Python notebook that generates a file containing the following data:

Email addresses. Must have an "@"
Phone numbers
Home Address
Person's name
Year born. Use realistic values.
Number of kids. Use realistic values.
Categorical variable: rent or own?
Annual income. Optional challenge: Use a non-uniform distribution
Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution
The user of your notebook should be able to specify how many entities are to be generated.

In [2]:
pip install faker

Requirement already satisfied: faker in c:\users\pragathi\anaconda3\lib\site-packages (13.2.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\pragathi\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\pragathi\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from faker import Faker
import pandas as P
import numpy as N
import random

In [2]:
fake=Faker()

In [3]:
def fakedata(num):
    ownership=['rent','own']
    data=[{'email':fake.email(),
          'phonenumber':random.randint(1000000000,9999999999),
          'homeaddress':fake.address(),
          'personname':fake.name(),
          'yearborn':random.randint(1950,2000),
          'no.of kids':random.randint(1,4),
          'categorical variable':N.random.choice(ownership),
          'annual income':random.randint(100000,9999999),
          'speeding tickets':random.randint(1,5)}for i in range(num)]
    data_df = P.DataFrame(data)
    data_df.to_csv('fakedata week3.csv')
    return data_df

In [4]:
fakedata(15)

,email,phonenumber,homeaddress,personname,yearborn,no.of kids,categorical variable,annual income,speeding tickets
0,victoria35@example.net,3925701901,"4096 Kimberly Grove\nNorth Jacobfort, OR 07306",Ashley Russell,1977,1,own,9937384,2
1,bernard52@example.com,9401303693,"4634 Griffin Heights\nMorganborough, DC 11163",Michelle Moore,1974,2,rent,4765144,5
2,piercestephen@example.com,3521698760,"93375 Tyler Freeway\nNew Toddshire, SD 59296",Amanda Martin,1983,1,own,1045626,2
3,fletchertara@example.org,3664888637,"6449 Aaron Burg\nRusselltown, CA 46324",Alexis Morris,1976,1,rent,2327639,1
4,geoffreyrobinson@example.com,5689100202,"416 Lopez Knolls Suite 269\nDonaldsonburgh, WI...",Jesse Payne,1963,4,rent,6855864,4
5,coxjacqueline@example.net,7591906728,"91703 Perez Gardens Suite 347\nBrockborough, O...",Anthony Johnston,1986,4,rent,858816,2
6,adamsmegan@example.net,3326294555,"3649 Wells Ports\nWalkerborough, NV 20179",Crystal Clay,1980,1,own,164466,3
7,alexandria09@example.com,8761239023,"528 Johnson Divide Apt. 870\nVargaschester, OR...",Marcus Allen,1987,1,own,2683092,2
8,christopher77@example.com,8707291006,USNV Baker\nFPO AP 84111,Christine Weaver,1974,2,rent,6220902,1
9,murraybrian@example.net,3577290279,"640 Wilkinson Drives Apt. 713\nSouth Timothy, ...",Howard Faulkner,1994,2,own,9774755,2
10,ralph96@example.org,7026642201,"619 Jones Lodge Suite 005\nPennytown, MD 88163",Susan Nguyen,1959,1,rent,5067753,1
11,steve85@example.com,1589379789,"9511 Nancy Green Suite 544\nJeffreyville, AK 8...",Susan Sanchez,1986,1,own,9211114,5
12,reidtravis@example.org,5386254235,85278 Alvarez Row Suite 371\nSouth Matthewfurt...,Jessica Moss,1968,1,rent,7903204,4
13,twall@example.net,5293183494,"70623 Floyd Plaza Apt. 474\nLake Kelly, NY 17825",Dylan Smith,1993,4,own,9877515,4
14,kendra83@example.com,1595749667,"524 Erika Mill Suite 377\nJasontown, AL 69663",Abigail Rogers,1967,4,rent,3956641,4

### references:

faker install:  https://www.blog.pythonlibrary.org/2021/09/09/faking-data/

fake data creation: https://towardsdatascience.com/generating-fake-data-with-python-c7a32c631b2a

pandas to csv conversion: https://www.journaldev.com/33511/pandas-to_csv-convert-dataframe-to-csv